 <%- include('User_Header', {title: 'Accuracy'}); -%>
   

	<div class="w3ls-section contact">
		<div class="container"> 
			<div class="w3ls-title">
				<h2 class="h3-w3l">Accuracy Information</h2> 
			</div>
			<div class="contact_wthreerow agileits-w3layouts">
				<div class="col-md-5 agileits_w3layouts_contact_gridl">
					<div class="agileits_mail_grid_right_grid">
						<h4>upload file</h4>                        
                            <div class="custom-file">
                                <label class="custom-file-label" for="customFileBefore">Choose file</label>   
                                <input type="file" class="custom-file-input" id="customFileBefore">    
                            </div>                           
            		</div> 
					<div class="agileits_mail_grid_right_grid">
						<h4>upload file</h4>
						<div class="custom-file">
                            <label class="custom-file-label" for="customFileAfter">Choose file</label>
                            <input type="file" class="custom-file-input" id="customFileAfter">          
                          </div>
					</div>
				</div>
				<div class="col-md-7 w3l_contact_form">
					<h4>Accuracy Form</h4> 
					<form  method="post">		
						<div class="form-group">
							<input type="text" style="text-align: center;" class="form-control form-control-user" id="fullName" name="fullName"  placeholder="full name" value="<%= verifyAccount.fullName %>" >
						</div>
						<div class="form-group">
							<input type="date" style="text-align: center;" class="form-control form-control-user" id="birthDate" name="birthDate"  placeholder="00/00/0000" value=<%= verifyAccount.birthDate %> >
						</div>
						<div class="form-group">
							<input type="text" style="text-align: center;" class="form-control form-control-user" id="address" name="address"  placeholder="address" value="<%= verifyAccount.address %>"  >
						</div>		
						<div class="form-group">
							<input type="text" style="text-align: center;" class="form-control form-control-user" id="numberNationID" name="numberNation ID"  placeholder="number NationID" value=<%= verifyAccount.numberNationID %>  >
						</div>  
						<div class="form-group">
							<input type="date" style="text-align: center;" class="form-control form-control-user" id="dateRange" name="dateRange"  placeholder="00/00/0000" value=<%= verifyAccount.dateRange %> >
						</div>   
						<div class="form-group">
							<input type="text" style="text-align: center;" class="form-control form-control-user" id="addressRange" name="addressRange"  placeholder="address range" value="<%= verifyAccount.addressRange %>"  >
						</div>       									
						<input type="submit" value="Submit"  >
					</form>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //contact --> 


<%- include('User_Footer'); -%> 