<%- include('Admin_Header', {title: 'History Create User'}); -%>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTable Custom</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Request</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Request</th>
          </tr>
        </tfoot>
        <tbody style="text-align:center">
          <% if (lst) { %>
          <% for( let index = 0; index < lst.length; index++ ) { %>
          <tr>
            <td><%= verifyAccount[index].fullName %></td>
            <td>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
                Check
              </button>
              <!-- Modal -->
              <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="col-md-7 w3l_contact_form">
                        <h4>Accuracy Form</h4> 
                        <form  method="post">		
                          <div class="form-group">
                            <p  style="text-align: center;" class="form-control form-control-user"  > <%= verifyAccount[index].fullName %></p>
                          </div>
                          <div class="form-group">
                            <p type="date" style="text-align: center;" class="form-control form-control-user" > <%= verifyAccount[index].birthDate %> </p>
                          </div>
                          <div class="form-group">
                            <p type="text" style="text-align: center;" class="form-control form-control-user" ><%= verifyAccount[index].address %>  </p>
                          </div>		
                          <div class="form-group">
                            <p type="text" style="text-align: center;" class="form-control form-control-user" ><%= verifyAccount[index].numberNationID %>  </p>
                          </div>  
                          <div class="form-group">
                            <p type="date" style="text-align: center;" class="form-control form-control-user" ><%= verifyAccount[index].dateRange %> </p>
                          </div>   
                          <div class="form-group">
                            <p type="text" style="text-align: center;" class="form-control form-control-user" ><%= verifyAccount[index].addressRange %></p>
                          </div>
                        </form>
                      </div>                      
                      <div class="clearfix"> </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Accept</button>
                      <button type="button" class="btn btn-primary">refuse</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <% } %>>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('Admin_Footer'); -%>