<%- include('Admin_Header', {title: 'History Create User'}); -%>
         <!-- DataTales Example -->
         <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTable Custom</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>email</th>
                      <th>Number</th>
                      <th>Create At</th>  
                      <th>Status</th>                     
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>email</th>
                      <th>Number</th>
                      <th>Create At</th>       
                      <th>Status</th>    
                    </tr>
                  </tfoot>
                  <tbody>
                    <% if (lst) { %>
                     <% for( let index = 0; index < lst.length; index++ ) { %>
                      <%  for( let i = 0; i < verifyAccount.length; i++ ){ %> 
                      <tr>
                        <td><%= verifyAccount[i].fullName %></td>
                        <td><%= lst[index].email %></td>
                        <td><%= lst[index].accountNumber %> </td>
                        <td><%= moment(lst[index].createdAt).format( 'DD-MM-YYYY')  %></td>  
                        <td><%= verifyAccount[i].status === true ? "Verified" : "Non Verify" %> </td>                     
                      </tr>
                      <% } %>
                     <% } %>>
                    <% } %>                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
<%- include('Admin_Footer'); -%>