<%- include('Admin_Header', {title: 'History Payment '}); -%>
         <!-- DataTales Example -->
         <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTable Custom</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Account Send</th>
                      <th>Account Receive</th>
                      <th>Money</th>
                      <th>Create At</th>
                      <th>Accept</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% del.forEach(iten => { %> 
                     <% pm.forEach(item => { %>
                      <% if (iten.paymentId==item.id & item.OTP==null & iten.status=='false' ) { %>
                      <tr>
                        <td><%= item.accountNumberSend %></td>
                        <td><%= item.accountNumberReceive %></td>
                        <td><%= item.moneyDeposit %> </td>
                        <td><%= moment(item.createdAt).format( 'DD-MM-YYYY')  %></td>
                        <td><a class="btn btn-primary btn-user btn-block" href="/admin/paymenthistory/<%= item.id %>/<%= staff.id %>/veripayment">Accept</a></td>
                      </tr>
                      <% } %>  
                     <% }) %>
                      
                    <% }) %>               
                  </tbody>
                </table>
              </div>
            </div>
          </div>
<%- include('Admin_Footer'); -%>