<%- include('Admin_Header', {title: 'List Saving Account'}); -%>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTable Custom</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Account Number</th>
            <th>Status</th>
            <th>Money Sending</th>
            <th>InterestRate</th>
            <th>Create At</th>
            <th>Close Date</th>
            <th>Accept Account</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Account Number</th>
            <th>Status</th>
            <th>Money Sending</th>
            <th>InterestRate</th>
            <th>Create At</th>
            <th>Close Date</th>
            <th>Accept Account</th>                     
          </tr>
        </tfoot>
        <tbody>
          <% if (listSavingAccount) { %>
           <% for( let index = 0; index < listSavingAccount.length; index++ ) { %>
            <% if (listSavingAccount[index].status == false) { %>
            <tr>
              <td><%= listSavingAccount[index].savingAccountNumber %></td>
              <td><%= listSavingAccount[index].status %></td>
              <td><%= listSavingAccount[index].moneySending %> </td>
              <td><%= listSavingAccount[index].interestRate %></td>
              <td><%= listSavingAccount[index].openDate  %></td>
              <td><%= listSavingAccount[index].closeDate  %></td>
              <td>
                <a class="btn btn-success" href="/admin/<%= staffid %>/<%= listSavingAccount[index].id %>/confirm" role="button">Confirm</a>
              </td>                         
            </tr>
            <% } %>
           <% } %>
          <% } %>                   
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- //contact --> 
<%- include('Admin_Footer'); -%> 